<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.twittercopycat">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.TwitterCopyCatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LoginScreen"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".screens.MyTimelineScreen"
            android:label="@string/title_activity_my_timeline" />
        <activity
            android:name=".screens.DetailScreen"
            android:label="@string/title_activity_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.PublicTimelineScreen" />
        </activity>
        <activity
            android:name=".screens.PublicTimelineScreen"
            android:label="@string/title_activity_timeline">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.LoginScreen" />
        </activity>
        <activity
            android:name=".screens.SettingsScreen"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".screens.MyTimelineScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MyTimelineScreen" />
        </activity>

        <!-- Sugar Related Attributes -->
        <meta-data
            android:name="DATABASE"
            android:value="twitter_copy_cat.db" />
        <meta-data
            android:name="VERSION"
            android:value="6" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <!-- Broadcast Receiver -->

        <receiver
            android:name=".receivers.NetworkChangeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service
            android:name=".services.MySendOfflineService"
            android:exported="false" />
        <service
            android:name=".services.NewTweetService"
            android:exported="false" />

        <receiver android:name=".TCCWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tccwidget_info" />
        </receiver>
    </application>

</manifest>